<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 text-center mb-4 pb-4">
                            <img id="logon" src="/assets/bank_logon.svg" class="align-text-top">
                            <span id="logontitle" class="ml-8">Banco Ahorrador</span>
                        </div>
                    </div>
                    <h3 class="card-title text-center">Acceder a la plataforma</h3>
                    <form #form="ngForm" (ngSubmit)="login(form)">
                        <div class="mb-3">
                            <label for="email"  class="form-label">E-mail</label>
                            <input type="text" id="email" name="email" [(ngModel)]="ilogin.email" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="password"  class="form-label">Contraseña</label>
                            <input type="password" id="password" name="password" [(ngModel)]="ilogin.password" class="form-control" />
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            <b>Hubo un problema!</b>
                            <p>Verifique que la información sea correcta</p>
                        </div>
                        <div class="mb-3 text-center">
                            <button class="btn btn-primary btn-block ">
                                Acceder
                            </button>
                        </div>
                    </form>
                    <div class="mb-3 mt-5">
                        <p class="text-center">¿Aún no eres cliente? Abre tu cuenta corriente gratis<br />
                        <a class="link" href="/open-account">Abrir cuenta corriente</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
