<div>
    <app-navbar></app-navbar>
</div>
<app-modal-transfer></app-modal-transfer>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mt-4 mb-4">
                <h4>Créditos</h4>
                <h6>Lo siento, pero esta sección se encuentra pendiente :(</h6>
            </div>
            <div>
                Aquí se tenía planeado la posibilidad de optar por un crédito,<br />
                enviado la información de este por correo electrónico a un<br />
                usuario de rol "ejecutivo"
            </div>
        </div>
    </div>
</div>