<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Editar usuario</h5>
        <button *ngIf="!saving" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="close()"></button>
    </div>
    <form #form="ngForm" (ngSubmit)="editOrDeleteuser(form)">
        <div class="modal-body">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" name="name" [(ngModel)]="userInEdition.name" class="form-control" [disabled]="userInEdition.isDeleted" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Apellido</label>
                <input type="text" id="lastname" name="lastname" [(ngModel)]="userInEdition.lastname" class="form-control" [disabled]="userInEdition.isDeleted" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="text" id="email" name="email" [(ngModel)]="userInEdition.email" class="form-control" [disabled]="userInEdition.isDeleted" />
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label><br />
                <button class="btn btn-primary" disabled>Enviar cambio de contraseña</button>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Rol</label>
                <select id="role" name="role" [(ngModel)]="userInEdition.role" class="form-control" [disabled]="userInEdition.isDeleted">
                    <option value="ADMIN">Administrador</option>
                    <option value="CLIENT">Cliente</option>
                </select>
            </div>
            <div class="mb-3" class="border border-danger p-2 rounded">
                <label class="form-label">Desactivar cuenta</label>
                <div class="form-check">
                    <input class="form-check-input danger" type="checkbox" id="deleteAccount" [checked]="userInEdition.isDeleted" (change)="userInEdition.isDeleted = !userInEdition.isDeleted">
                    <label class="form-check-label" for="deleteAccount">
                        Dejar sin acceso esta cuenta
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    Fecha de creación
                </div>
                <div>
                    {{userInEdition.createdAt}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!saving" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="close()">Cancelar</button>
            <button *ngIf="!saving && !userInEdition.isDeleted" class="btn btn-primary">Guardar</button>
            <button *ngIf="saving && !userInEdition.isDeleted" class="btn btn-primary" disabled>Guardando...</button>
            <button *ngIf="userInEdition.isDeleted" class="btn btn-danger">Desactivar</button>
            <button *ngIf="deletingUser" class="btn btn-danger" disabled>Eliminando...</button>
        </div>
    </form>
</div>