<div>
    <app-navbar></app-navbar>
</div>
<app-modal-transfer></app-modal-transfer>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mt-4 mb-4">
                <h4>Stock de productos</h4>
                <h6>Lo siento, pero esta sección se encuentra pendiente :(</h6>
            </div>
            <div>
                Aquí se tenía planeado colocar un CRUD de artículos<br />
            </div>
        </div>
    </div>
</div>